<app-header></app-header>

<div class="container">
    <div class="col s7 m7">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">

                    <div class="row">

                        <div class="div-left">
                            <div class="grey lighten-5 z-depth-1 div-profile">
                                <div style="padding-top: 10px;" class="col s3">
                                    <img width="50"
                                        src="https://st.depositphotos.com/2869437/3739/i/600/depositphotos_37392643-stock-photo-close-up-of-pug.jpg"
                                        alt="" class="circle">
                                    <!-- notice the "circle" class -->
                                </div>
                                <div style="padding-top: 20px;" class="col push-s2 s7">
                                    <div class="col s4">
                                        <span class="color-icons-profile">
                                            <i class="small material-icons">refresh</i>
                                        </span>
                                    </div>
                                    <div class="col s4">
                                        <span class="color-icons-profile">
                                            <i class="small material-icons">message</i>
                                        </span>
                                    </div>
                                    <div class="col s4">
                                        <span class="color-icons-profile">
                                            <i class="small material-icons">more_vert</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-right">
                            <div class="grey lighten-5 z-depth-1 div-profile">
                                <div style="padding-top: 10px;" class="col s4">
                                    <div class="row valign-wrapper">

                                        <div class="col s4">

                                            <img width="50"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZkfrY2fZt0voxTA6AxhhUx9mceGh5SK8mTQ&usqp=CAU"
                                                alt="" class="circle">
                                        </div>

                                        <div class="col s8">
                                            <span class="black-text">
                                                Kyara Caroline
                                            </span>
                                        </div>
                                    </div>
                                    <!-- notice the "circle" class -->
                                </div>

                                <div style="padding-top: 20px;" class="col push-s6 s8">
                                    <div class="col s4">
                                        <span class="color-icons-profile">
                                            <i class="small material-icons">more_vert</i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>