<div class="chat-message">
    <div class="row">
        <div class="col s12">
            <div class="black-text lime lime accent-1 right div-message" style="margin-right: 10px;">Abc da
                Amazonia</div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="black-text white left div-message">Booooooora tomar uma? Agora? Vamos? Iaee, oq me diz,
                Jack Daniel's</div>
        </div>
    </div>

</div>

<div class="message grey lighten-3">
    <div class="row">
        <div class="col s1 right-align" style="padding-left: 20px; padding-top: 12px;">
            <img width="30" style="opacity: .5;" src="assets/smile.png" alt="">
        </div>
        <div class="col s10">
            <div class="input-field valign-wrapper">
                <textarea class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="col s1 left-align" style="padding-top: 18px;"><i class="material-icons">send</i></div>
    </div>

</div>